fastapi
uvicorn
transformers
loguru
onnxruntime
onnxruntime-tools
streamlit
dvc[s3]
textbrewer
wandb
openpyxl
tqdm
ipdb
datasets
seqeval
onnxconverter-common
fire
starlette_exporter
sentry_sdk
aioredis
fastapi-cache2