fastapi
uvicorn
transformers
loguru
onnxruntime_gpu
onnxruntime-tools
streamlit
dvc[s3]
wandb
openpyxl
tqdm
ipdb
datasets
seqeval
onnxconverter-common
fire
starlette_exporter
sentry_sdk
aioredis
fastapi-cache2